<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Ecogreen</title>
  <link rel="shortcut icon" type="image/png"
    href="{{ url_for('static', filename = 'admin/images/logos/favicon.png')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'admin/css/styles.min.css')}}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="javascript" href="{{ url_for('static', filename = 'admin\js\jquery-3.2.1.min.js')}}" />

  <!-- Include Bootstrap CSS and JS -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->


</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/dashboard" class="logo-img">
            <img src="{{ url_for('static', filename = 'admin/images/logos/logo.png')}}" alt="Ecogreen" width="150px"
              height="100px">
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="/dashboard">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="{{ 'active' if page == 'dashboard' else '' }}">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Data</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/datauser" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="{{ 'active' if page == 'datauser' else '' }}">Data
                  User</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/databanksampah" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-cards"></i>
                </span>
                <span class="{{ 'active' if page == 'databanksampah' else '' }}">Data
                  Bank Sampah</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/datatps" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="{{ 'active' if page == 'datatps' else '' }}">Data
                  TPS</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/sampah" aria-expanded="false">
                <span>
                  <i class="ti ti-folder"></i>
                </span>
                <span class="{{ 'active' if page == 'datasampah' else '' }}">Data
                  Sampah</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dataproduk" aria-expanded="false">
                <span>
                  <i class="ti ti-menu"></i>
                </span>
                <span class="{{ 'active' if page == 'dataproduk' else '' }}">Data
                  Produk</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/datahistory" aria-expanded="false">
                <span>
                  <i class="ti ti-server"></i>
                </span>
                <span class="{{ 'active' if page == 'datahistory' else '' }}">Data
                  History</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/datartikel" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="{{ 'active' if page == 'datartikel' else '' }}">Artikel</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/datasentimen" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="{{ 'active' if page == 'datasentimen' else '' }}">Analisis Sentimen</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/" aria-expanded="false">
                <span>
                  <i class="ti ti-arrow-back"></i>
                </span>
                <span class="hide-menu">Go to Website</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/logout" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/register" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="/" target="_blank" class="btn btn-primary">Lihat
                Website</a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{{ url_for('static', filename = 'admin/images/profile/user-1.jpg')}}" alt width="35"
                    height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->

      {%block content %}
      {% endblock %}
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'admin/libs/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/js/sidebarmenu.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/libs/apexcharts/dist/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/libs/simplebar/dist/simplebar.js')}}"></script>
  <script src="{{ url_for('static', filename = 'admin/js/dashboard.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="{{ url_for('static', filename='admin/js/jquery-3.2.1.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>