{% extends 'layout.html'%} {%block content%}
    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Beranda</a></li>
            <li>Statistik</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

        <!-- =======Statistik Section ======= -->
    <section id="statistik" style="background-color: white;" >
      <div class="container" data-aos="fade-up">
        <div class=" d-flex flex-column justify-content-center align-items-center align-items-lg-center justify" style="padding-top: 35px;">
        <h2 >Data Timbulan Sampah di Kota Tegal</h2></div>
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
            <div class="diagram">
                <div class="d1"><a>2019</a></div>
                <div class="d2">2020</div>
                <div class="d3">2021</div>
                <div class="d4">2022</div>
                <div class="d5">2023</div>
              <ul class="diagrambatang">
                <li><div>79.684 ton</div></li>
                <li><div>79.366 ton</div></li>
                <li><div>79.049 ton</div></li>
                <li><div>78.733 ton</div></li>
                <li><div>73.042 ton</div></li>
                <li><div>70.000 ton</div></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="padding-top: 30px;">
              
              <p class="justify">Berdasarkan data dari Dinas Lingkungan Hidup Kota Tegal, 
                Dalam lima tahun terakhir, Kota Tegal telah menyaksikan peningkatan yang signifikan dalam timbulan sampah.
                 Data yang tercatat sejak tahun 2019 hingga 2023 menunjukkan bahwa sampah yang dihasilkan oleh masyarakat semakin bertambah dari tahun ke tahun.
                  Ini menjadi peringatan serius akan tantangan lingkungan yang sedang dihadapi. </p>
                <p class="justify">
                  Penyebab utama peningkatan ini melibatkan beberapa faktor, seperti pertumbuhan populasi yang cepat dan perubahan pola konsumsi 
                  menuju barang-barang kemasan dan disposable. Hal ini menciptakan tekanan besar pada sistem pengelolaan sampah kota. 
                  Meskipun terdapat upaya dalam meningkatkan kesadaran masyarakat, masih diperlukan tindakan lebih lanjut untuk merespon masalah ini secara menyeluruh.</p>
                <p class="justify">Sebagai respons terhadap tren peningkatan ini, Dinas Lingkungan Hidup Kota Tegal telah memulai berbagai program edukasi dan kampanye
                   untuk meningkatkan kesadaran masyarakat tentang pentingnya pengelolaan sampah yang berkelanjutan. Selain itu, langkah-langkah konkret seperti peningkatan 
                  fasilitas daur ulang dan sistem pengumpulan sampah terpisah telah diimplementasikan.</p>
                <p class="justify">
                Dengan kerjasama aktif antara pemerintah, masyarakat, dan sektor swasta, diharapkan bahwa langkah-langkah ini dapat membalikkan tren peningkatan timbulan 
                sampah dan menciptakan fondasi untuk keberlanjutan lingkungan di Kota Tegal. Peran aktif semua pihak menjadi kunci dalam menghadapi tantangan lingkungan ini 
                demi mewujudkan kota yang bersih dan ramah lingkungan.
                </p>
          </div>
        </div>
      </div>
    </section><!-- End statistik Section -->



{% endblock %}