{% extends 'layout.html'%} {%block content%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Beranda</a></li>
            <li>TPS</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
  <!--tps section-->
    <section id="tps" class="tps-area" style="background-color: white;">
      <div class="container" style="margin-top: 3%;">
        <div class="row justify-content-text-left">
          <div class="col-lg-6">
            <div class="section-title text-left">
              <h6 class="sub-title" style="visibility: visible;">Dimana kita bisa membuang sampah?</h6>
              <h3 class="title">Temukan TPS terdekatmu!</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUpBig" data-wow-duration="1s">
			    <div class="card mt-4">
				    <div class="card-body">
						    <div class="col-md-12">
							    <div class="table-responsive">
								    <table class="table table-striped table-inverse">
								    <thead class="thead-inverse">
                    <th>Nama TPS</th>
                    <th>Alamat</th>
                    <th>Kabupaten/Kota</th>
                    <th>Kecamatan</th>
                    <th>Desa</th>
                    </thead>
                    <tbody>
                    {% for tps in tps %}
                    <tr>
                        <td>{{ tps.nama }}</td>
                        <td>{{ tps.alamat }}</td>
                        <td>{{ tps.kabupaten_kota }}</td>
                        <td>{{ tps.kecamatan }}</td>
                        <td>{{ tps.desa }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </main>
{% endblock %}